/* 헤더 */
header {
  margin: auto;
  width: 1200px;
  height: 190px;
}
/* 헤더 상단 */
.header_top {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.hamburger img {
  height: 30px;
}
h1 {
  width: 185px;
  height: 60px;
  line-height: 60px;
}
h1 img {
  height: 60px;
}
.search {
  width: 720px;
  height: 60px;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 30px;
  line-height: 60px;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search img {
  height: 30px;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 150px;
}
.menu img {
  height: 40px;
}
nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header_nav {
  display: flex;
}
.header_nav li {
  padding: 0 12px;
}
.header_nav:nth-of-type(2) li:nth-of-type(2) {
  border-left: 1px solid rgb(212, 212, 212);
}
.header_nav:nth-of-type(2) li:nth-of-type(3) {
  border-left: 1px solid rgb(212, 212, 212);
}
